In [1]:
import os
import json
import sys
sys.path.append('../data_helpers')
sys.path.append('../preprocess/')
import numpy as np
import pandas as pd

In [2]:
df_data = pd.read_csv('../dataset/ner/ner_person_place_dataset.csv')

In [3]:
df_data

                  Word     Tag
0            Roskosmos  PERSON
1                Mills  PERSON
2              Mohamud  PERSON
3            Tynychbek  PERSON
4                Samir  PERSON
5              William  PERSON
6            Dominguez  PERSON
7                  Sue  PERSON
8               Ramzan  PERSON
9                Maier  PERSON
10                Puth  PERSON
11           ElBaradei  PERSON
12               Chris  PERSON
13             Madelyn  PERSON
14               Klein  PERSON
15             Heather  PERSON
16               Sayed  PERSON
17              Jersey  PERSON
18              Ernest  PERSON
19                Stan  PERSON
20             Marcell  PERSON
21             Harriet  PERSON
22             Radovan  PERSON
23              Mizhar  PERSON
24            Nhlanhla  PERSON
25                Daya  PERSON
26             Manfred  PERSON
27       Major-General  PERSON
28             Oswaldo  PERSON
29             Desmond  PERSON
...                ...     ...
6044           Atlanta   PLACE
6045          Al-Anbar   PLACE
6046            06-Apr   PLACE
6047          Espiritu   PLACE
6048            Aleppo   PLACE
6049              Imad   PLACE
6050        Kazakhstan   PLACE
6051            Adaado   PLACE
6052            Ifugao   PLACE
6053  anti-Americanism   PLACE
6054          Missouri   PLACE
6055          Leonardo   PLACE
6056          Sakhalin   PLACE
6057           Maghazi   PLACE
6058              70.7   PLACE
6059       Balochistan   PLACE
6060           Baylesa   PLACE
6061       Iskandariya   PLACE
6062         Patriarch   PLACE
6063         Lakhdaria   PLACE
6064          Konstanz   PLACE
6065           Honiara   PLACE
6066              Juba   PLACE
6067         Binyamina   PLACE
6068           Andrhra   PLACE
6069             Union   PLACE
6070           Prizren   PLACE
6071              Kafr   PLACE
6072            Turkey   PLACE
6073                 O   PLACE

[6074 rows x 2 columns]

In [4]:
df_data.Tag.value_counts()

PLACE     3045
PERSON    3029
Name: Tag, dtype: int64

In [6]:
from search_engine import SearchEngine
se = SearchEngine(verbose=True,
                  queries_filepath='../dataset/cache/queries_sparktsao.txt',
                  output_filepath='../dataset/cache/output_sparktsao.json')

In [14]:
data = se.get_data(queries=["sparktsao"])

[*] Writing queries to "../dataset/cache/queries_sparktsao.txt"...
[*] Searching queries and save results to "../dataset/cache/output_sparktsao.json"...
[*] Reading results from "../dataset/cache/output_sparktsao.json"...
[*] Success.

In [15]:
for key in data.keys():
    print (key)

sparktsao

In [20]:
data['sparktsao']['text'].

0    SparkTsao | Kaggle | Microsoft Malware Classif...
1    SparkTsao | Kaggle | 2 years ago · Top 12% 93 ...
2    SparkTsao | Kaggle | SparkTsao. Joined 4 years...
3    sparktsao (Spark Tsao) · GitHub | sparktsao ha...
4    GitHub - sparktsao/casetreefail | Contribute t...
5    Exception from container-launch when running d...
6    GitHub - sparktsao/HappyCat | Contribute to Ha...
7    Spark Tsao - LinkedIn | Spark Tsao的LinkedIn 檔案...
8    Spark Tsao 的個人檔案| Facebook | 查看名為Spark Tsao 的用...
9    Dr. Spark's adventure - GitBook | sparktsao. D...
Name: text, dtype: object